@import url('../../../styles.css'); /* Asegura que estilos globales estén presentes */

.admin-header {
  background-color: #ffffff;
  padding: 15px 25px;
  border-radius: 8px;
  margin-bottom: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  border-left: 4px solid #0b4d94;
}

.admin-header h2 {
  margin: 0;
  font-size: 30px;
  color: #0b4d94;
}